form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: auto;
  }
  h1{
    text-align: center;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input, select, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 15px;
  }
  
  textarea {
    height: 100px;
  }
  
  input[type="button"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  input[type="button"]:hover {
    background-color: #3e8e41;
  }
  body{
    background-color: #eda0a8;
  }
  
  @media screen and (max-width: 600px) {
    input, select, textarea {
      width: 80%;
    }
    
    input[type="button"] {
      width: 100%;
    }
  }
  